.header1{

  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



body{
  background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

  
}

.para1{
    text-align: center;
    font-size: 20;

}
.para1:hover{
    color: rgb(90, 75, 75);
    transition: 1s;
    
}


.container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: -apple-system;
}

.button1 {
  background-color: #120f36;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-family: -apple-system;
  font-size: large;
  border: 1px rgb(146, 94, 144) solid;
  border-radius: 20px;
margin-left: 155px;
margin-top: 20px;
}

.button1:hover {
  opacity: 0.8;
}



.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  color: black;
    font-size: larger;
    border: 1px black solid;
    border-radius: 15px;
    padding: 10px;
    width: 40%;
    position: absolute;
    left: 29%;
    top: 20%;
    margin-bottom: 5%;
    font-family: -apple-system;
    height: 68%;
    background-color: rgb(19, 23, 46);
}




.sign-up{
    color: rgb(0, 0, 0);
    font-size: larger;
    border: 1px black solid;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 20%;
    
}



.container input{
  width: 50%;
  position: relative;
  left: 25%;
  padding: 0;
  display: block;
  border: 3px solid rgb(110, 136, 215);
  border-radius: 30px;
  height: 50px;
  font-size: 15px;
  margin-top: 50px;
} 
::placeholder{
  padding-left: 10px;
  background-color: transparent;
  text-align: center;
  font-size: 13px;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 padding-right: 20px;
 color: rgb(180, 160, 160);

}

.sign-up input[type=submit]{
  width: 10%;
  padding: auto;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 1%;
}

.sign-up-button{
font-size: larger;
font-weight: bold;
background-color: rgb(0, 0, 0);
color: rgb(0, 0, 0);
font-family: -apple-system;
height: 100%;


}

.sign-up-title{
  text-align: center;
  
}

.username1{
  font-weight: bold;
  font-family: -apple-system;
  text-align: center;
}

.password1{
  font-weight: bold;
  font-family: -apple-system;
  text-align: center;
}

.forgotpassword{
  font-size: 15px;
  text-align: center;
  margin-left: 260px;
color: white;
}
.createone{
  color: rgb(109, 48, 124);
  text-align: center;

}
a.createone{
  text-decoration: none;
  text-align: center;
  margin-left: 351px;
  position: relative;
  bottom: 42px;
}
.createone:hover{
 color: #484095;
 transition: 1s;
}



.para3{
  color: white;
  text-align: center;
margin-right: 40px;
}

